pkgbase = ghcup-hs-bin
	pkgdesc = an installer for the general purpose language Haskell
	pkgver = 0.2.5.0
	pkgrel = 1
	url = https://www.haskell.org/ghcup/
	install = ghcup-hs-bin.install
	arch = x86_64
	arch = aarch64
	arch = i686
	license = LGPL3
	optdepends = curl
	optdepends = wget
	optdepends = ncurses5-compat-libs: using older ghc's linking against libtinfo.so.5
	provides = ghcup-hs
	conflicts = ghcup-hs
	source_x86_64 = ghcup-0.2.5.0-1-x86_64::https://downloads.haskell.org/~ghcup/0.2.5.0/x86_64-linux-ghcup-0.2.5.0
	sha256sums_x86_64 = 480e05e414d2efa5abbda0006984a3343cd4973ead7b5c48d65a55a47b40ce59
	source_aarch64 = ghcup-0.2.5.0-1-aarch64::https://downloads.haskell.org/~ghcup/0.2.5.0/aarch64-linux-ghcup-0.2.5.0
	sha256sums_aarch64 = 9bb60d249057bdef9ba3792e6a4a7201163eafbbe4939c7cf6ed3f9c6d4bca02
	source_i686 = ghcup-0.2.5.0-1-i686::https://downloads.haskell.org/~ghcup/0.2.5.0/i386-linux-ghcup-0.2.5.0
	sha256sums_i686 = 3d13fefbd524691daaa1080d18fa3189613db11a995f2f8eedd32568a3677832

pkgname = ghcup-hs-bin
