pkgbase = ghcup-hs-bin
	pkgdesc = an installer for the general purpose language Haskell
	pkgver = 0.2.6.1
	pkgrel = 1
	url = https://www.haskell.org/ghcup/
	install = ghcup-hs-bin.install
	arch = x86_64
	arch = aarch64
	arch = i686
	license = LGPL-3.0-only
	optdepends = curl
	optdepends = wget
	optdepends = ncurses5-compat-libs: using older ghc's linking against libtinfo.so.5
	provides = ghcup-hs
	conflicts = ghcup-hs
	source_x86_64 = ghcup-0.2.6.1-1-x86_64::https://downloads.haskell.org/~ghcup/0.2.6.1/x86_64-linux-ghcup-0.2.6.1
	sha256sums_x86_64 = 64ffb8cd158fce5cbc6d2d2c5b6e2afa082aadd890d7f86eed0dff63cb8fa156
	source_aarch64 = ghcup-0.2.6.1-1-aarch64::https://downloads.haskell.org/~ghcup/0.2.6.1/aarch64-linux-ghcup-0.2.6.1
	sha256sums_aarch64 = d80564af2e225361f76240412611ea4beb920b35d278dc0add87508a5429eb71
	source_i686 = ghcup-0.2.6.1-1-i686::https://downloads.haskell.org/~ghcup/0.2.6.1/i386-linux-ghcup-0.2.6.1
	sha256sums_i686 = 99cd9191f86ae3a82f75b4f92f1a18be671279bfcee618889f8c5e12d4b7e6dd

pkgname = ghcup-hs-bin
